:root {
    --primary-color: #055a05;/* forest green */
    --secondary-color: #f4a261; /*warm sand */
    --accent1-color:#264653; /* dark slate blue */
    --accent2-color:#e9c46a;/*light golden yellow */
    --heading-font: "Time New Roman","Georgia",serif;
    --body-font: Arial,Helvetica,sans-serif;
} 

header nav {
    background-color: #264653;
    color: white;
    
    
    
}
   
 .main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    background-color: #656279;
    color: white;
}


.header-logo {
    grid-area: logo;
    
}


    

.header-nav ul {
list-style: none;
padding: 3px;
margin: 0;
display: flex;
background-color: whitesmoke;
/*push navigation to the right*/
width: max-content;
justify-content: flex-end;
}

.header-nav li {
    margin-left: 25px; /* space between links */
}

.header-nav a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    font-size: medium;
}
    

header img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}
   


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color:var(--accent1-color);
}

header,main,footer {
    width: 840px;
    margin: 0 auto;
}
h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,p,section,article {
margin:16px;
padding: 8px;
}

 .main-footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    
}
    
    


.social-icons {
    display: flex;
    justify-content: flex-start;
    
}
.social-icons-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1px;
    justify-content: flex-end;
    
    
    
}
    
.hero {
    position: relative;
}

.hero img {
    display: block;
    width:100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article img {
    float: right;
    width: 125px;
    border-radius: 5px;
}

.container {
    display:grid ;
    grid-template-columns: repeat(4,1fr);
    margin: 30px;
    gap: 10px;
    
}

.photo-box img {
    width: 80px;
    height: auto;
    border-radius: 4px;
    
    object-fit: cover;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:3px;
}
    


.main-section img {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100px;
    height: auto;
    

    
    
}

.main-section h2  {
    display:block ;
    justify-content: center;
}
  
  
  
  
  


    
    

 


    


    

    
    

    

    
    
    








    
