:root {
    --primary-color: #055a05;/* forest green */
    --secondary-color: #f4a261; /*warm sand */
    --accent1-color:#264653; /* dark slate blue */
    --accent2-color:#e9c46a;/*light golden yellow */
    --heading-font: "Time New Roman","Georgia",serif;
    --body-font: Arial,Helvetica,sans-serif;
} 

header nav {
    background-color: #264653;
    color: white;
    
    
    
}
   
 .main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    background-color: #656279;
    color: white;
}


.header-logo {
    grid-area: logo;
}
    
   h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;


    
}

 p {
     justify-content: center;
    align-items: center;
    text-align: center
}   
    
    

    
 .contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
 }
    
 .map-section, .form-section {
    flex:1;
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;

 }

 .form-group {
    margin-bottom: 15px;
    display: flex;
    padding: 10px;
 }

 .form-group label {
    margin: 20px;
    
 }

 .checkbox input {
    margin: 6px;
    display: flex;
    font-size: xx-small;
} 

 

    
    







    


    
    


.radio-section  {
    display: flex;
    margin: 2px;
}
    

 .message-section {
    display: block;
 }

  button {
    justify-content: center;
    align-items: center;
 }
 
 
  legend {
    text-align: right;
  }  
    
     
    


.checkbox label {
    display: flex;
    margin-right:5px;
    font-size: 13px;
    
}

input,textarea {
    display: flex;
    
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius:4px
}
.radio-section {
    display: flex;
    margin: 5px;
    width: 20px;
}

.radio-section label {
    margin-left: 8px;
    font-size: small;
}

.checkbox {
    display: flex;
    width: 10px;
    margin:5px ;
}

    
    
    

button {
    background-color:black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
    
.header-nav ul {
list-style: none;
padding: 3px;
margin: 0;
display: flex;
background-color: black;
/*push navigation to the right*/
width: max-content;
justify-content: flex-end;
}

.header-nav li {
    margin-left: 25px; /* space between links */
}

.header-nav a {
    text-decoration: none;
    color:white; 
    font-weight: bold;
    font-size: medium;
}
    

header img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}
   


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color:var(--accent1-color);
}

header,main,footer {
    width: 840px;
    margin: 0 auto;
}
h1,h2 {
    font-family: var(--heading-font);
    color: black;
    
    
}

nav,p,section{
margin:16px;
padding: 8px;
}

 .main-footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    
}
    
    


.social-icons {
    display: flex;
    justify-content: flex-start;
    
}
.social-icons-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1px;
    justify-content: flex-end;
}
    
.container {
    display:grid ;
    grid-template-columns: repeat(4,1fr);
    margin: 30px;
    gap: 10px;
    
}

.photo-box img {
    width: 80px;
    height: auto;
    border-radius: 4px;
    
    object-fit: cover;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:3px;
}





    
    
    


    


    




    
    






    

    



  
  
  
  
  


    
    

 


    


    

    
    
    
    







    




    

    

    
    
    








    
