nav {
    padding: 0;
}

nav a {
    padding: 0;
}

h1, h2 {
    text-align: left;

}

main {
    max-width: 840px;
}

main img {
    width: 100px;
    height: auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: #eee;
    color:#333;
    text-align: center;

}
aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}